---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    <p class="research-intro">
     I conduct research at the intersection of economics, health policy, and political science, with a focus on large-scale data analysis using Stata, Python, PL/SQL, Excel, Power BI, and MicroStrategy. My work bridges academic and applied settings: I publish economics research in top journals, and I conduct healthcare analytics—including compliance measurement—for government policy projects and internal reporting at my company. At the core of my work, I focus on development research and political economy, which drive many of my academic inquiries. I am deeply enthusiastic about economics research and study, continually seeking to expand my knowledge and contribute meaningful insights to the field.
    </p>
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



