<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h2 class="archive__item-title" itemprop="headline" style="margin-bottom:.25rem">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>

  {% if post.type or post.venue or post.location %}
    <p class="page__meta" style="margin-top:0.25rem;margin-bottom:0.75rem">
      {% if post.type %}{{ post.type }}{% endif %}
      {% if post.venue %}{% if post.type %} — {% endif %}{{ post.venue }}{% endif %}
      {% if post.location %}{% if post.type or post.venue %}, {% endif %}{{ post.location }}{% endif %}
    </p>
  {% endif %}

  <div class="archive__item-excerpt" itemprop="description">
    {{ post.content }}
  </div>
</article>
